<div class="profile-section">
  <div class="profile-info">
    <img src="../assets/perfil.jpg" alt="Imagen de perfil" class="profile-image">
    <div class="user-details">
      <h2><strong>{{ nombreUsuario }}</strong></h2>
      <p>{{ correoElectronico }}</p>
    </div>
    <hr class="divider-line">
  </div>
  <div class="profile-links">
    <div class="profile-link">
      <i class="fas fa-user"></i>
      <button (click)="showProfilePopup()"><strong>Mi cuenta</strong></button>
    </div>
    <div class="profile-link">
      <i class="fas fa-lock"></i>
      <span><strong>Acceso y seguridad</strong></span>
    </div>
    <div class="profile-link">
      <i class="fas fa-cog"></i>
      <span><strong>Configuración</strong></span>
    </div>
    <div class="profile-link">
      <i class="fas fa-credit-card"></i>
      <span><strong>Facturación y planes</strong></span>
    </div>
    <div class="profile-link">
      <i class="fas fa-question-circle"></i>
      <span><strong>Ayuda</strong></span>
    </div>
  </div>
  <div class="profile-popup" *ngIf="showPopup">
    <div class="profile-popup-content">
      <div class="popup-profile-info">
        <h3><strong>Foto de Perfil</strong></h3>
        <img src="../assets/perfil.jpg" alt="Imagen de perfil" class="popup-profile-image">
        <p><button>Quitar Foto</button></p>
        <a><button>Cambiar Foto</button></a>
        <div class="popup-user-details">
          <h3><strong>Nombre</strong></h3>
          <p *ngIf="!editandoNombre">{{ nombreUsuario }}</p>
          <input *ngIf="editandoNombre" [(ngModel)]="nombreEditado" type="text">
          <button *ngIf="!editandoNombre" (click)="editarNombre()">Editar</button>
          <button *ngIf="editandoNombre" (click)="guardarNombre()" class="guardar">Guardar</button>

          <h3><strong>Correo Electrónico</strong></h3>
          <p *ngIf="!editandoCorreo">{{ correoElectronico }}</p>
          <input *ngIf="editandoCorreo" [(ngModel)]="correoEditado" type="text">
          <button *ngIf="!editandoCorreo" (click)="editarCorreo()">Editar</button>
          <button *ngIf="editandoCorreo" (click)="guardarCorreo()" class="save">Guardar</button>

          <h3><strong>Idioma</strong></h3>
          <p *ngIf="!editandoIdioma">{{ idioma }}</p>
          <button *ngIf="!editandoIdioma" (click)="toggleEditIdioma()">Editar</button>
          <select *ngIf="editandoIdioma" [(ngModel)]="idioma" class="select-field">
            <option *ngFor="let opcion of opcionesIdioma" [value]="opcion.codigo">{{ opcion.nombre }}</option>
          </select>
          <button *ngIf="editandoIdioma" (click)="guardarIdioma()" class="sa">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
