<div class="profile-section">
    <div class="profile-info">
      <img src="../assets/" alt="Imagen de perfil" class="profile-image">

      <div class="user-details">
        <h2>SEBASTIAN CÓRDOVA VALDIVIA</h2>
        <p>sebascordoba123@gmail.com</p>
      </div>
      <hr class="divider-line">
    </div>
    <div class="profile-links">
      <div class="profile-link">
        <i class="fas fa-user"></i>
        <span>Mi cuenta</span>
      </div>
      <div class="profile-link">
        <i class="fas fa-lock"></i>
        <span>Acceso y seguridad</span>
      </div>
      <div class="profile-link">
        <i class="fas fa-cog"></i>
        <span>Configuración</span>
      </div>
      <div class="profile-link">
        <i class="fas fa-credit-card"></i>
        <span>Facturación y planes</span>
      </div>
      <div class="profile-link">
        <i class="fas fa-question-circle"></i>
        <span>Ayuda</span>
      </div>
    </div>
  </div>
  
