<!--
<div class="container">

  <div class="seccion seccion-left">
    <div>
      <h1 class="titulogrifo">Grifos Asociados</h1>

      <div class="boton-container">
        <button
          *ngFor="let grifo of grifos"
          [class.activo]="botonActivo === grifo.name"
          (click)="mostrar(grifo.name)"
        >
          {{ grifo.name }}
        </button>
      </div>

      <div *ngFor="let grifo of grifos" [id]="grifo.nombre" style="display: none;">
        <h2>{{ grifo.nombre }}</h2>
        <ul>
          <li *ngFor="let combustible of grifo.combustible">
            <img [src]="'./assets/Grifos/' + combustible.logo + '.png'"
              alt="{{ combustible.nombre }}"
              width="215"
              height="100"
            >
            <strong>{{ combustible.nombre }}</strong>
            <p>Precio: {{ combustible.precio }}</p>
            <p>{{ combustible.descripcion }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="seccion seccion-right">
    <h1 class="titulopromociones">Promociones(*)</h1>
    <div class="Promocion" *ngFor="let promocion of promociones">
      <div class="descripcionPromocion">
        <img [src]="'./assets/Grifos/' + promocion.img + '.png'"
          alt="{{ promocion.name }}"
          width="250"
          height="100"
        >
        <p class="nombrePromocion">{{ promocion.name }}</p>
        <p class="descripcionPromocion">{{ promocion.descripcion }}</p>
      </div>
  </div>
</div>
</div>
-->

<div class="container">
  <div class="seccion seccion-left">
    <h1 class="titulogrifo">Grifos Asociados</h1>

    <div class="boton-container">
      <button
        *ngFor="let grifo of grifos"
        [class.activo]="botonActivo === grifo.name"
        <!--observacion-->
        (click)="mostrar(grifo.name, grifo.id); loadCombustiblesPorGrifo(grifo.id)"
      >
        {{ grifo.name }}
      </button>
    </div>

    <div *ngFor="let grifo of grifos" [id]="grifo.name" style="display: none;">
      <h2>{{ grifo.name }}</h2>
      <ul>
        <li *ngFor="let combustible of combustibles">
<!--
          <img
            [src]="'./assets/Grifos/' + combustible.logo + '.png'"
            alt="{{ combustible.type }}"
            width="215"
            height="100"
          />
-->
          <strong>{{ combustible.type }}</strong>
          <p>Precio: {{ combustible.price }}</p>
          <p>{{ combustible.description }}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="seccion seccion-right">
    <h1 class="titulopromociones">Promociones(*)</h1>
    <div class="Promocion" *ngFor="let promocion of promociones">
      <div class="descripcionPromocion">
        <!--
        <img
          [src]="'./assets/Grifos/' + promocion.img + '.png'"
          alt="{{ promocion.name }}"
          width="250"
          height="100"
        />
        -->
        <p class="nombrePromocion">{{ promocion.title }}</p>
        <p class="descripcionPromocion">{{ promocion.description }}</p>
      </div>
    </div>
  </div>
</div>
