<div>
  <div class="tp">
    <h1>Selecciona una opción</h1>
    <ul class="lista-horizontal">
      <li><button class="boton">Precio</button></li>
      <li><button class="boton">Calificación</button></li>
      <li><button class="boton">Combustible</button></li>
    </ul>
  </div>
  <div class="problema-container">
    <h2>Detalles del problema:</h2>
    <textarea v-model="detallesProblema" rows="4"></textarea>
    <button class="button-not" (click)="showAlert()">Notificar</button>
  </div>
</div>
<div class="alert-popup" *ngIf="showPopup">
  <p>Su reporte se registró exitosamente.</p>
  <button class="close-button" (click)="closeAlert()">X</button>
</div>
