<div class="w-full h-[100vh]">
<mat-toolbar class="toolbar" color="primary">
  <h1 class="logo">Gas Ya!</h1>
  <div class="mat-spacer"></div>
  <a
    mat-button
    *ngFor="let option of options"
    [routerLink]="option.path"
  >
    {{ option.title }}
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
  <div class="flex items-center justify-center h-[10%] w-screen bg-red-600">
<footer >
  <p class="text-center">Gas Ya! Copyright ©
    2023, inc All rights reserved.</p>
</footer>
  </div>
</div>

