<div class="grid-container">
  <section id="formfilter">
    <form (ngSubmit)="searchNearbyGasStation()">
      <input
        type="text"
        placeholder="Search..."
        name="searchQuery"
        [(ngModel)]="searchQuery"
      />
      <button class="submit-button" type="submit">
        Buscar
      </button>
    </form>
    <br/>
    <button class="btn" mat-button [matMenuTriggerFor]="filtros">Filtros</button>
    <mat-menu #filtros="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="precio">Precio (soles/galón)</button>
      <button mat-menu-item [matMenuTriggerFor]="calificacion">Calificación</button>
      <button mat-menu-item [matMenuTriggerFor]="combustible">Combustible</button>
    </mat-menu>
    <mat-menu #precio="matMenu">
      <button mat-menu-item>3 - 6</button>
      <button mat-menu-item>7 - 10</button>
      <button mat-menu-item>11 - 14</button>
      <button mat-menu-item>15 - 18</button>
    </mat-menu>
    <mat-menu #calificacion="matMenu">
      <button mat-menu-item>1
        <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      </button>
      <button mat-menu-item>2
        <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      </button>
      <button mat-menu-item>3
        <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      </button>
      <button mat-menu-item>4
        <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      </button>
      <button mat-menu-item>5
        <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      </button>

    </mat-menu>
    <mat-menu #combustible="matMenu">
      <button mat-menu-item> GLP </button>
      <button mat-menu-item> GNV </button>
      <button mat-menu-item> Premium </button>
      <button mat-menu-item> No Premium </button>
    </mat-menu>
  </section>
  <section id="map" class="map-section"></section>
</div>
